*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height:100vh ;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(video/b8.png);
    background-size:1366px 620px;
    background-repeat: no-repeat;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
   font-size: 36px; 
   font-weight: 500;
   color: #fceb00;
}
.contact .content p
{ 
   font-weight: 300;
   color: #fff;
}
.container
{
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction:column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0; 
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #f8df00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    color: #ffffff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #ffee00;
}
.Contactform
{
    width: 40%;
    padding: 40px;
    background: #000000;
}
.Contactform h2
{
    font-size: 30px;
    color: #fffb00;
    font-weight: 500;
}
.Contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contactform .inputbox input
.Contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333 ;
    outline: none;
}
.Contactform .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #ffee03;
}
.Contactform .inputbox input:focus ~ span,
.Contactform .inputbox input:valid ~ span,
.Contactform .inputbox textarea:focus ~ span,
.Contactform .inputbox textarea:valid ~ span
{
    color: #ffe600;
    font-size: 12px;
    transform: translateY(-20px);
}
.Contactform .inputbox input [type="submit"]
{
    width: 100px;
    background: #000000;
    color: #f7e600;
    cursor: pointer;
    padding:10px;
    font-size: 18px;
}
@media (max-width:991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .Contactform
    {
        width: 100px;

    }
}